body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}
h1, h2, h3, h4, h5 {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}
h1 { font-size: 48px }
h2 { font-size: 36px }
h3 { font-size: 24px }
p, ul, li, table { font-size: 24px }
ol, ul {
  list-style: none;
  text-align: left;
}
blockquote, q {
  font-size: 24px;
  font-style: italic;
}
blockquote { text-align: left }

/*
  Steps
*/
.step {
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  box-sizing: border-box;

  font-size: 48px;
  line-height: 1.5;
  text-align: center;

  border: 5px solid transparent;
  border-radius: 40px;
}
.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  transition: opacity 1s, border-color 1s;
}
.impress-enabled .step.active { opacity: 1 }
.impress-on-summary .step {
  opacity: 1;
  border-color: lightgray;
}

/*
  Misc. styles
*/
ul { padding-left: 20px }
.left-line { border-left: 1px solid purple }
.right-line { border-right: 1px solid purple }
.align-right { text-align: right }
.align-left { text-align: left }
.center {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
ul.align-right {
  padding-left: 0;
  padding-right: 20px
}
h1 ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
h1 li { font-size: 48px }
.flex-h { display: flex }
.flex-align-center { align-items: center }
.flex-justify-even { justify-content: space-evenly }
.flex-justify-between { justify-content: space-between }
.space-top { margin-top: 2em }
.space-inner-v > * {
  margin-bottom: .5em;
  margin-top: .5em;
}
.supertitle { color: lightslategray }
.cite {
  color: gray;
  display: inline-block;
  transform: scale(.8);
}
a {
  color: maroon;
  text-decoration: none;
  transition: border-color .3s;
  border-bottom: 2px solid;
  border-color: lightgray;
}
a:hover { border-color: gray }
a.cite {
  border-color: transparent;
}
a.cite:hover { border-color: gray }
.effect { color: teal }
.effect::before {
  content: "→ ";
  color: silver;
}
.minor {
  font-size: 80%;
  color: gray;
}
.licence{
  font-size: 40%;
  color: gray;
}

/*
  Individual slides
*/
#granovetter { height: 700px }
#granovetter-1 { border-width: 0; z-index: -1; transition: opacity .2s; }
#granovetter-2 { border-width: 0; z-index: -1; transition: opacity .2s; }
#granovetter-3 { border-width: 0; z-index: -1; transition: opacity .2s; }
#granovetter-4 { border-width: 0; z-index: -1; transition: opacity .2s; }
#granovetter-1 .frame { position: absolute; top: 50px; left: 170px; }
#granovetter-2 .frame { position: absolute; top: 50px; right: 170px; width: 300px; }
#granovetter-3 .frame { position: absolute; top: 200px; left: 170px; }
#granovetter-4 .frame { position: absolute; top: 200px; right: 170px; width: 300px; }
#granovetter-1.future { opacity: 0 }
#granovetter-2.future { opacity: 0 }
#granovetter-3.future { opacity: 0 }
#granovetter-4.future { opacity: 0 }
.impress-on-granovetter-1 #granovetter { opacity: 1 }
.impress-on-granovetter-2 #granovetter { opacity: 1 }
.impress-on-granovetter-2 #granovetter-1 { opacity: 1 }
.impress-on-granovetter-3 #granovetter { opacity: 1 }
.impress-on-granovetter-3 #granovetter-1 { opacity: 1 }
.impress-on-granovetter-3 #granovetter-2 { opacity: 1 }
.impress-on-granovetter-4 #granovetter { opacity: 1 }
.impress-on-granovetter-4 #granovetter-1 { opacity: 1 }
.impress-on-granovetter-4 #granovetter-2 { opacity: 1 }
.impress-on-granovetter-4 #granovetter-3 { opacity: 1 }
svg.granovetter {
  margin: 20px 0;
  width: 100%;
  height: 100px;
}
svg.granovetter circle {
  fill: #a8bdad;
  fill-opacity: 1;
  stroke: #5c5c5c;
  stroke-width: 0.6;
  stroke-opacity: 1;

  animation-delay: 2s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
svg.granovetter text {
  font-size: 8.46px;
  text-align: center;
  text-anchor: middle;
  fill: #ffffff;
  fill-opacity: 1;
  stroke-width: 0.26;
}
@keyframes lightup-0 { from { fill: #a8bdad } 10% { fill: #a8bdad } 12% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-1 { from { fill: #a8bdad } 15% { fill: #a8bdad } 17% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-2 { from { fill: #a8bdad } 20% { fill: #a8bdad } 22% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-3 { from { fill: #a8bdad } 25% { fill: #a8bdad } 27% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-4 { from { fill: #a8bdad } 30% { fill: #a8bdad } 32% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-5 { from { fill: #a8bdad } 35% { fill: #a8bdad } 37% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-6 { from { fill: #a8bdad } 40% { fill: #a8bdad } 42% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-7 { from { fill: #a8bdad } 45% { fill: #a8bdad } 47% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-8 { from { fill: #a8bdad } 50% { fill: #a8bdad } 52% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-9 { from { fill: #a8bdad } 55% { fill: #a8bdad } 57% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-10 { from { fill: #a8bdad } 60% { fill: #a8bdad } 62% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-11 { from { fill: #a8bdad } 65% { fill: #a8bdad } 67% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-12 { from { fill: #a8bdad } 70% { fill: #a8bdad } 72% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-13 { from { fill: #a8bdad } 75% { fill: #a8bdad } 77% { fill: #e79050 } to { fill: #e79050 } }
@keyframes lightup-14 { from { fill: #a8bdad } 80% { fill: #a8bdad } 82% { fill: #e79050 } to { fill: #e79050 } }
.present svg.granovetter-animated .dot-0, .past svg.granovetter-animated .dot-0 { animation-name: lightup-0 }
.present svg.granovetter-animated .dot-1, .past svg.granovetter-animated .dot-1 { animation-name: lightup-1 }
.present svg.granovetter-animated .dot-2, .past svg.granovetter-animated .dot-2 { animation-name: lightup-2 }
.present svg.granovetter-animated .dot-3, .past svg.granovetter-animated .dot-3 { animation-name: lightup-3 }
.present svg.granovetter-animated .dot-4, .past svg.granovetter-animated .dot-4 { animation-name: lightup-4 }
.present svg.granovetter-animated .dot-5, .past svg.granovetter-animated .dot-5 { animation-name: lightup-5 }
.present svg.granovetter-animated .dot-6, .past svg.granovetter-animated .dot-6 { animation-name: lightup-6 }
.present svg.granovetter-animated .dot-7, .past svg.granovetter-animated .dot-7 { animation-name: lightup-7 }
.present svg.granovetter-animated .dot-8, .past svg.granovetter-animated .dot-8 { animation-name: lightup-8 }
.present svg.granovetter-animated .dot-9, .past svg.granovetter-animated .dot-9 { animation-name: lightup-9 }
.present svg.granovetter-animated .dot-10, .past svg.granovetter-animated .dot-10 { animation-name: lightup-10 }
.present svg.granovetter-animated .dot-11, .past svg.granovetter-animated .dot-11 { animation-name: lightup-11 }
.present svg.granovetter-animated .dot-12, .past svg.granovetter-animated .dot-12 { animation-name: lightup-12 }
.present svg.granovetter-animated .dot-13, .past svg.granovetter-animated .dot-13 { animation-name: lightup-13 }
.present svg.granovetter-animated .dot-14, .past svg.granovetter-animated .dot-14 { animation-name: lightup-14 }
svg.granovetter .dot-cut { fill: lightblue }
.present svg.granovetter-animated-cut3 .dot-3, .past svg.granovetter-animated-cut3 .dot-3 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-4, .past svg.granovetter-animated-cut3 .dot-4 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-5, .past svg.granovetter-animated-cut3 .dot-5 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-6, .past svg.granovetter-animated-cut3 .dot-6 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-7, .past svg.granovetter-animated-cut3 .dot-7 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-8, .past svg.granovetter-animated-cut3 .dot-8 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-9, .past svg.granovetter-animated-cut3 .dot-9 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-10, .past svg.granovetter-animated-cut3 .dot-10 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-11, .past svg.granovetter-animated-cut3 .dot-11 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-12, .past svg.granovetter-animated-cut3 .dot-12 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-13, .past svg.granovetter-animated-cut3 .dot-13 { animation-name: none }
.present svg.granovetter-animated-cut3 .dot-14, .past svg.granovetter-animated-cut3 .dot-14 { animation-name: none }
#summary {
  pointer-events: none;
  border: none;
}
#summary ul {
  padding: 0;
  pointer-events: initial;
  position: absolute;
  left: 40px;
  bottom: -300px;
}
#summary p {
  pointer-events: initial;
  position: absolute;
  right: 40px;
  bottom: -300px;
}


/*
  Style the fallback message, and only show it if necessary
*/
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 5px;
  background: #EEDC94;
}
.fallback-message p { margin-bottom: 10px }
.impress-supported .fallback-message { display: none }

/*
  Position the toolbar
*/
.impress-enabled div#impress-toolbar {
  position: fixed;
  right: 1px;
  bottom: 1px;
  opacity: 0.6;
}
.impress-enabled div#impress-toolbar > span { margin-right: 10px }

/*
  Hide the toolbar and have it show only when you move/click/touch the mouse.
*/
body.impress-mouse-timeout div#impress-toolbar { display: none }

/*
  Hide the mouse cursor itself too, when mouse isn't used.
*/
body.impress-mouse-timeout { cursor: none }


@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf"),
       url("../fonts/OpenSans-Italic.ttf"),
       url("../fonts/OpenSans-SemiBold.ttf"),
       url("../fonts/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf"),
       url("../fonts/Montserrat-Italic.ttf"),
       url("../fonts/Montserrat-Bold.ttf"),
       url("../fonts/Montserrat-BoldItalic.ttf");
}
